



$colour-primary: #ffffff;
$colour-secondary:  #000000;
$colour-gray:rgba(255, 255, 255, 0.461);
$colour-light-gray:lightgray;
$colour-dark-gray:rgb(120, 120, 120);
$colour-dark-gray2:rgb(57, 57, 57);
$colour-dark-gray3:rgb(20, 20, 20);
$colour-low-opacity-black:hsla(0, 0%, 1%, 0.132);
$colour-border: rgba(0, 0, 0, 0.1);
$colour-border2: rgba(255, 255, 255, 0.1);
$colour-grey: #212121;
$colour-blue: #6653ff;
$colour-blue-transparent: #6753ff95;
$colour-darker-blue: hsl(240, 33%, 9%);
$colour-orange:  #cb4400;
$colour-orange2:  hsl(22, 100%, 51%);
$colour-red: hsl(0, 100%, 49%);
$colour-yellow: hsl(53, 100%, 49%);
$colour-light-blue: hsla(213, 100%, 49%, 0.605);
$colour-beige: hsla(41, 100%, 76%, 0.605);

$row-size:220px;

$heading-shadow-size: .55rem;
$layout-margin: 6rem;
$grid-gutter: $layout-margin * .25;


